* {
	padding: 0px;
	margin: 0px;
}
.header__nav {
	justify-content: space-between !important;
	padding: 14px 20px !important;
}
.header__link {
	text-transform: uppercase;
	text-decoration: none;
}
.login {
	width: 20%;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.login__form {
	margin: 10px 0px;
}
.login__link {
	text-decoration: none;
}

.room-list-item {
	margin-top: 30px;
}
.room {
	margin-top: 30px;
}
.room-avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
}
.room-username {
	margin-left: 8px;
	font-size: 20px;
}
.user-info {
	margin-top: 10px;
}
